@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .Modal-enter {
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  .Modal-exit {
    opacity: 1;
    animation: fadeOut 0.3s forwards;
  }
  
  .Canvas-div {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .view-container {
    position: relative; /* Ensure proper stacking and visibility */
  }
  