.Card-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 2px solid #ffffff65; /* Light white border for subtle effect */
  width: 80%;
  max-height: 95%;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: rgba(41, 40, 40, 0.941); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect for the glassmorphic style */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  color: white;
  padding: 20px;

}


.project_website-a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 300;

}

.scamlegitdiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 0%; /* Ensure gap between buttons */
}

.scamlegitbuttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 2%;
}

.Card-div h1,
p {
  color: white;
  margin: 0;
}

.scamlegitdivtimer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 2%;

}

.project_name-h1 {
  font-size: 1.5rem;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

.CardContainer-div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  
  gap: 20px;
  height: 100%;
  max-width: 50%;

}
.project_img-img {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  aspect-ratio: 1;
}
.project_desc-p {
  justify-content: center;
  margin-right: 10px;
  max-height: 200px;
  overflow: auto; /* Changed to auto to enable scrolling */
}

.project_desc-p::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

