.Header-div {
    position: fixed;
    display: flex;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffffff65; /* Subtle border to enhance the glass effect */
    background: rgba(26, 26, 26, 0.65); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect for the glassmorphic style */
    box-shadow: 0 2px 4px 0 rgba(111, 111, 111, 0.1);
    z-index: 1; /* Ensure it's above other content */
    
}
.HeaderButtonContainer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}
.Header-h1 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 2.5rem;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    font-weight: 200;
}
.HeaderContainer-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight: 400;
}