.Header-div {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.HeaderButtonContainer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.HeaderContainer-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}